@import 'size.scss';
@import 'theme.scss';

.button-wrapper {
  padding-bottom: 0.4rem;
}

button {
  color: $default-white;
  border-radius: $button-radius;

  &.large {
    @include button-large();
  }
  &.small {
    @include button-small();
  }
  &.none {
    @include button-none();
  }
  &.primary {
    background-color: $baemin-primary;
  }
  &.secondary {
    background-color: $baemin-secondary;
  }
  &.third {
    background-color: $baemin-third;
  }
  &.rectangle:hover {
    background-color: $baemin-third;
  }
  &.transparent {
    background-color: transparent;
    color: $title-black;
  }

  &.text-large {
    font-size: $text-large;
  }
  &.text-medium {
    font-size: $text-medium;
  }
  &.text-small {
    font-size: $text-small;
  }
  &:disabled {
    background-color: #bbe7e6 !important;
    &:hover {
      cursor: default !important;
    }
  }
}
