@import 'size.scss';
@import 'theme.scss';

.chat-current-item {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 16px;
  border-bottom: 2px solid #d7d7d7;
  cursor: pointer;
  .image-box.small {
    display: flex;
    align-items: center;
    max-width: 50px;
    height: 50px;
    border: 1px solid #d7d7d7;
    border-radius: 8px;
  }
  .info-box {
    align-content: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info-box-left {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      .product-title {
        margin-bottom: 10px;
      }
      .product-price {
        font-size: $text-small;
        color: $content-grey;
      }
    }
  }
}
.chat-bubble-list-wrapper {
  height: 75vh;
  .chat-bubble-list {
    overflow: auto;
    .bubble-item-wrapper {
      padding: 18px 20px;
      display: flex;
      &.mine {
        justify-content: flex-end;
        .bubble-item {
          padding: 10px;
          width: max-content;
          border: 1px solid #2ac1bc;
          border-radius: 8px 0px 8px 8px;
        }
      }
      &.opponent {
        justify-content: flex-start;
        .bubble-item {
          padding: 10px;
          width: max-content;
          background: #2ac1bc;
          border-radius: 0px 8px 8px 8px;
          color: white;
        }
      }
    }
  }
}
.chat-form {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  align-items: center;
  background: #f6f6f6;
  border-top: 1px solid #d7d7d7;
  .chat-input-wrapper {
    height: 70px;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
  }
  .chat-send-wrapper {
    width: 45px;
    margin-right: 20px;
    cursor: pointer;
    img {
      width: 27px;
      height: 27px;
    }
  }
}
