@import 'theme.scss';

@mixin nav-style() {
  background-color: $baemin-primary;
  padding: 1rem;
  color: white;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
$nav-height: 65px;
.home-wrapper {
  .nav-occupant {
    @include nav-style();
    height: $nav-height;
  }
}
.home-nav {
  @include nav-style();
  position: fixed;

  button:not(.menu-item) {
    background-color: inherit;
    border: none;
    padding: 0;
    color: white;
    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
    > * {
      margin: 0 0.3rem;
    }
  }

  > .nav-btn-container {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 3;
  }

  > .center {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 50%;
    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        > img {
          animation: location 0.6s alternate infinite;
        }
      }
    }
    h2 {
      font-size: 1.3rem;
      font-weight: bold;
    }
  }
}
.plus-btn {
  background-color: $baemin;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 5;
  transition: 0.5s;

  > svg {
    width: 100%;
    height: 100%;

    > line {
      stroke: white;
      stroke-width: 5;
      stroke-linecap: round;
      transition: 0.5s;
    }
  }

  &.exit-btn {
    transform: rotateZ(45deg);
    background-color: white;

    line {
      stroke: $baemin;
    }
  }
}
.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  background-color: black;
  opacity: 0.5;

  &.on {
    display: block;
  }
  > .modal {
    width: 100%;
    height: 100%;
    position: relative;

    > div {
      position: absolute;
      right: 15px;
      bottom: 90px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      overflow: hidden;
      animation: list-up 0.3s forwards;

      &.down {
        animation: list-down 0.3s forwards;
      }

      * {
        position: relative;
        z-index: 5;
      }

      > .modal-btn-container {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 0.5rem 0;

        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #007d77;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-left: 0.5rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}
.product-list-wrapper {
  padding-top: 80px;
  &.not-product {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    > img {
      width: 200px;
      height: 200px;
      margin-top: 1rem;
    }
    > p {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 1em;
      color: rgb(44, 40, 41);
    }
  }
  > .product-preview-wrapper {
    width: 100%;
    border-bottom: 1px solid $line-grey;
    &:nth-child(1) {
      border-top: 1px solid $line-grey;
    }
  }
}

@keyframes location {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10%);
  }
}
@keyframes list-up {
  from {
    height: 0px;
    transform: translate3d(0, 100%, 0);
  }
  to {
    height: 110px;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes list-down {
  from {
    height: 110px;
    transform: translate3d(0, 0, 0);
  }
  to {
    height: 0px;
    transform: translate3d(0, 100%, 0);
  }
}
