@import 'size.scss';
@import 'theme.scss';

$tab-width: 90px;
$tab-list-height: 60px;
$list-item-padding: 20px;

$product-image-size: 106px;
$product-status-icon-size: 14px;

$infobox-margin: 10px;

$option-menu-width: 165px;
$option-menu-height: 96px;
$option-padding: 16px;
$option-menu-top: 29px;

.list-container {
  .menu-tab {
    .tab-list {
      position: relative;
      display: flex;
      justify-content: space-around;
      height: $tab-list-height;
      align-items: center;
      background-color: #f6f6f6;
      border-bottom: $border-weight solid #d7d7d7;
      .tab {
        color: $content-grey;
        width: $tab-width;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        cursor: pointer;
        &.active {
          color: $baemin-primary;
        }
      }
      > .pin {
        position: absolute;
        height: 3px;
        width: $tab-width;
        background-color: $baemin-primary;
        border-radius: 1px;
        bottom: 0;
        left: 0;
        transform: translate3d(0, 50%, 0);
      }
    }
  }
  .list-wrapper {
    min-height: 85vh;
  }
}
.my-like-wrapper,
.my-product-wrapper {
  > .product-preview-wrapper {
    border-bottom: 1px solid $line-grey;
  }
  &.empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > img {
      margin: 1rem 0;
    }
    > h2 {
      font-size: 1.2rem;
      padding: 0.5em;
      font-weight: bold;
    }
  }
}
