@import 'size.scss';
@import 'theme.scss';

.signin-wrapper {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-signin {
  position: relative;
  width: 100%;
  height: 63%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .error-message-wrapper {
    @include input-error-style(-7px);
  }
}
