@import 'size.scss';
@import 'theme.scss';

$label-top-position: -30px;
$form-signup-height: 50%;
$signup-wrapper-height: 500px;

.signup-wrapper {
  height: $signup-wrapper-height;

  .form-signup {
    position: relative;
    margin-top: 20px;
    height: $form-signup-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .error-message-wrapper {
      @include input-error-style(-2px);
    }
    .username-input-box,
    .location-input-box {
      position: relative;
      label {
        position: absolute;
        top: $label-top-position;
        left: 0;
        font {
          size: $text-small;
          color: $title-black;
        }
      }
    }
    .signup-button-wrapper {
      position: absolute;
      bottom: -5px;
    }
  }
}
