@import 'size.scss';
@import 'theme.scss';

.signin-wrapper {
  height: 300px;
}

.form-signin {
  position: relative;
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .error-message-wrapper {
    @include input-error-style(-7px);
  }
}
